@{
    ViewBag.Title = Resources.Label_EpcisServerManagement;
}

<h1>@Resources.Label_EpcisServerManagement</h1>

<ul class="detail">
    <li><strong>@Resources.Label_CaptureEndpoint</strong> <span class="code">/Services/1.2/EpcisCapture/</span></li>
    <li><strong>@Resources.Label_QueryEndpoint</strong> <span class="code">/Services/1.2/EpcisQuery/</span></li>
    <li><strong>@Resources.Label_IsAPIAuthorizationRequired</strong> ✔</li>
</ul>

<p></p> 