@{
    ViewBag.Title = "Index";
}

<h2>@Resources.Menu_About</h2>

<p>@string.Format(Resources.Page_About_Author, Resources.ApplicationName)</p>
<p>@string.Format(Resources.Page_About_SourceCode, string.Format("<a href=\"https://github.com/louisaxel-ambroise/epcis\">{0}</a>", Resources.Label_Github))</p>

