@{
    ViewBag.Title = Resources.Menu_MasterData;
}

<h1>@Resources.Menu_MasterData</h1>

<p>@Resources.Page_MasterData_ManageMasterData</p>
<ul>
    <li>@Html.ActionLink(Resources.Label_BusinessLocations, "BusinessLocations")</li>
</ul>