@{
    ViewBag.Title = Resources.Label_Events;
}

<div class="row">
    <h1>@Resources.Label_LatestEvents</h1>
    <div class="col m12">
        <div class="card">
            <div class="card-content">
                <div id="eventsTable">@Resources.Label_Loading</div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    document.addEventListener("DOMContentLoaded", function () {
        fastnt.loadPartial("@Url.Content("~/Events/Read_LatestEvents")", "eventsTable");
    });
</script>