span.badge.alert {
    font-weight: 300;
    font-size: 0.8rem;
    color: #fff;
    background-color: #af2401;
    border-radius: 2px;
}

.card .card-content h5 {
    padding-top: -15px;
}

li.logo{
    margin-bottom:125px;
    text-align:center;
}
    li.logo #logo-container img{
        height:120px;
    }

li.search {
    position: absolute;
    left: 0;
    right: 0;
    top: 120px;
    margin-top: 1px;
    padding: 1px 0 0 0;
    z-index: 2;
}
li.search .search-wrapper i.material-icons {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

li.search .search-wrapper {
    margin: 0 12px;
    -webkit-transition: margin .25s ease;
    transition: margin .25s ease;
}
    li.search .search-wrapper:focus {
        margin: 0;
    }
    li.search .search-wrapper input#search {
        display: block;
        font-size: 16px;
        font-weight: 300;
        width: 100%;
        height: 45px;
        margin: 0;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        padding: 0 45px 0 15px;
        border: 0;
    }
    li.search #search-results a {
        font-size: 12px;
        white-space: nowrap;
        display: block;
        padding:0 10px;
    }
    li.search #search-results a:hover {
        background:#eee;
    }

main.page-content {
    padding-left: 300px;
}

.pad-top-10{
    padding-top:10px;
}