@media screen and (min-width: 1200px) {
    table.data-table{
	    width:auto;
	    min-width:740px;
	    margin:auto;
	    border-collapse:collapse;
	    border:1px solid #ddd;
        border-radius: 3px;
    }
    table.data-table thead tr{
	    border-bottom:1px solid #ddd;
	    background:#fff;
    }
    table.data-table th, table.data-table td{
	    padding:6px 15px;
    }
    table.data-table tbody{
	    text-align:left;
    }
    table.data-table tbody tr:nth-child(even){
      background-color: #efefef;
    }
    table.data-table .material-icons{
        text-align:center;
        width:100%;
    }
    table.data-table tfoot {
        border-top: 1px solid #ddd;
        padding-left: 5px;
    }
    table.data-table tfoot th {
        font-weight: 400;
        text-align: left;
        font-size: 90%;
        padding: 3px;
    }
}