<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Antlr3.Runtime" version="3.5.2-beta1" targetFramework="net461" />
  <package id="Iesi.Collections" version="4.0.2" targetFramework="net461" />
  <package id="LinFu.DynamicProxy.OfficialRelease" version="1.0.5" targetFramework="net452" />
  <package id="Microsoft.Net.Compilers" version="2.4.0" targetFramework="net461" developmentDependency="true" />
  <package id="NHibernate" version="5.0.0" targetFramework="net461" />
  <package id="Ninject" version="3.3.3" targetFramework="net461" />
  <package id="Ninject.Extensions.Interception" version="3.3.3" targetFramework="net461" />
  <package id="Remotion.Linq" version="2.1.2" targetFramework="net461" />
  <package id="Remotion.Linq.EagerFetching" version="2.1.0" targetFramework="net461" />
</packages>