@model FasTnT.Web.Models.Users.UserDetailsViewModel

@{
    ViewBag.Title = Resources.Label_MyAccount;
}

<h1>@Resources.Label_MyAccount</h1>

<h2>@Resources.Label_ChangePassword</h2>

<input type="password" name="previous" id="previous" />
<input type="password" name="newPassword" id="newPassword" />
<input type="password" name="newValidation" id="newValidation" />