@{
    ViewBag.Title = @Resources.Label_Users;
}

<h1>@Resources.Label_Users</h1>
<div id="usersTable"></div>

<script type="text/javascript">
    document.addEventListener("DOMContentLoaded", function () {
        loadPartial("@Url.Content("~/Users/Read_Users")", function (data) {
            document.getElementById("usersTable").innerHTML = data;
        }, function () {
            document.getElementById("usersTable").innerHTML = "<p>Error</p>";
        })
    });
</script>