@{
    ViewBag.Title = @Resources.Label_Users;
}

<h1>@Resources.Label_Users</h1>
<div id="usersTable"></div>

<script type="text/javascript">
    document.addEventListener("DOMContentLoaded", function () {
        fastnt.loadPartial("@Url.Content("~/Users/Read_Users")", "usersTable");
    });
</script>